<h2>Đặt vé nhanh</h2>
<form action="{% url 'book' %}">
    <!-- Chon phim -->
    {% include 'show-available-movies.html' with movies=movies only %}

    <!-- Chon rap theo phim -->
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-facetime-video"></span>
        <select class="combobox form-control" id="theater">
            <option value="">Chọn rạp</option>
            {#% include 'datalist.html' with list=movies %#}
        </select>
    </div>

    <!-- Chon ngay theo phim va rap -->
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
        <select class="combobox form-control" id="date">
            <option value="">Chọn ngày</option>
        </select>
    </div>
    <datalist id="dates">
        {% include 'datalist.html' with list=dates %}
    </datalist>

    <!-- Chon ca chieu phim -->
    <!--
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-time"></span>
        <input list="begin_times" name="begin_time" placeholder="Chon gio chieu" class="form-control">
    </div>
    <datalist id="begin_times">
        {% include 'datalist.html' with list=begin_times %}
    </datalist>-->
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-time"></span>
        <select class="combobox form-control" id="time">
            <option value=""></option>
        </select>
    </div>

</form>
