<p>Các vé đã chọn</p>
{% for item, s in tickets.items %}
    <div class="ticket_type" data-quantity="{{ s.quantity }}" data-id="{{ s.object.id }}">
        <p>Loại vé: {{ s.object.name }}</p>
        <p>Số lượng: {{ s.quantity }}</p>
    </div>
{% endfor %}

{% include 'seating-map.html' %}

<div class="pull-right">
    <form id="finish" action="{% url 'reservation:finish' %}" method="POST">
        <input type="hidden" value="" name="positions">
        <input type="hidden" value="" name="schedule_id">
        <input type="submit" value="Hoan tat dat ve" class="btn btn-primary">
        <a href="" class="btn btn-danger">Quay lại chọn vé</a>
        {% csrf_token %}
    </form>
</div>
