{% load reservation_tags %}

<div class="panel panel-default">
    <div class="panel-heading">Chọn vé</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Loại vé</th>
                    <th>Số lượng</th>
                    <th>Gía vé</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            {% for type in ticket_types %}
                <tr>
                    <td>
                        {{ type.name }}
                    </td>
                    <td>
                        <select class="quantity" id='type_{{ type.id }}' data-id="{{ type.id }}">
                            {% for i in type.limit|get_range %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{ type.price }}
                    </td>
                    <td id="total">

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            Tổng cộng: <p id="total_cost"></p>
        </div>
    </div>
</div>
