{% extends 'base.html' %}
{% block title_text %}
    {{ block.super }} | Danh sách các cụm rạp
{% endblock %}

{% block main_content %}
    <div class='row'>
        <div class="col-md-2" id="list-theaters">
            {% for theater in theaters %}
                <a href="{{ theater.get_absolute_url }}" class="btn btn-danger show-theater">{{ theater.name }}</a>
            {% endfor %}
        </div>
        <div class="col-md-10" id="theater-info">
            {% include 'theater-ajax.html' with theater=theaters|first %}
        </div>
    </div>
{% endblock %}
