<div class="row">
    <div class="col-md-2 text-center">
        <a href="{% url 'facility:theater-show' theater.id %}" class="btn btn-danger">{{ theater.name }}</a><br>
    </div>
    <div class="col-md-7">
        <h1 class="text-center">{{ theater.name }}</h1>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <p>Địa chỉ: {{ theater.address }}</p>
            <div id="map_canvas"></div>
                {#% include 'map.html' with theater=theater %#}
            </div>
        </div>
    </div>


    <script>
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
        function initialize() {
            var map_canvas = document.getElementById('map_canvas');
            var myLatlng = new google.maps.LatLng({{ theater.latitude }}, {{ theater.longtitude }});
            var map_options = {
                center: myLatlng,
                zoom: 20,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(map_canvas, map_options)
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: '{{ threater.name }}'
            });
        }
    </script>
