{% extends 'base.html' %}
{% block title_text %}
    {{new.title}}
{% endblock %}

{% block main_content %}
    <div class="text-center">
        <img src="{{ new.image.url }}" alt="{{ new.title }}">
        <h1>{{ new.title }}</h1>
    </div>
    {% autoescape off %}
    <p>{{ new.text }}</p>
    {% endautoescape %}
    <div class="pull-right">
        <div class="fb-like" data-href="{{ new.get_absolute_url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
{% endblock %}
