<h2>Dat ve nhanh</h2>
<form action="{% url 'book' %}">
    <!-- Chon phim -->
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-film"></span>
        <input list="movies" name="movie" placeholder="Chon phim" class="form-control">
    </div>

    <datalist id="movies">
        {% include 'datalist.html' with list=movies %}
    </datalist>

    <!-- Chon rap theo phim -->
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-facetime-video"></span>
        <input list="theaters" name="theater" placeholder="Chon cum rap" class="form-control">
    </div>
    <datalist id="theaters">
        {% include 'datalist.html' with list=theaters %}
    </datalist>

    <!-- Chon ngay theo phim va rap -->
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
        <input list="dates" name="date" placeholder="Chon ngay" class="form-control">
    </div>
    <datalist id="dates">
        {% include 'datalist.html' with list=dates %}
    </datalist>

    <!-- Chon ca chieu phim -->
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-time"></span>
        <input list="begin_times" name="begin_time" placeholder="Chon gio chieu" class="form-control">
    </div>
    <datalist id="begin_times">
        {% include 'datalist.html' with list=begin_times %}
    </datalist>
</form>
