<div class="panel panel-primary">
    <div class="panel-heading">{{ schedules.theater }}</div>
    <div class="panel-body">
        <table class="table">
            {% for items in schedules.schedules %}
                <tr>
                    <td>{{ items.date|date:"D d M y" }}</td>
                    {% for schedules in items.schedules %}
                        <td>
                            <a href="{% url 'reservation:make' schedules.id %}" class="btn btn-primary">
                                {{ schedules.begin_time|time:"H:i" }}
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>