
    <div class="panel panel-primary">
        <div class="panel-heading">Lich chieu cua {{ movie }}</div>
        <div class="panel-body">
            {% for theater, values in schedules.items %}
            {#% for theater, values in schedule.items %#}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ theater }}</div>
                    <table class="table">
                        <tbody>
                            {% for dates, value in values.items %}
                            <tr>
                                <td>{{ dates }}</td>
                                {% for s in value %}
                                <td>{{ s }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {#% endfor %#}
            {% endfor %}
        </div>
    </div>
