{% extends 'base.html' %}

{% block title_text %}{{ block.super }} | Trang chu{% endblock %}
{% block main_content %}
    {% if news %}
        {% include 'news-slide.html' with news=news only%}
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            {% include 'book-ticket-fast.html' with movies=available_movies %}
        </div>

        <div class="col-md-8">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active col-md-6"><a data-toggle="tab" href="#sectionA">Các phim đang chiếu</a></li>
                    <li class="col-md-6"><a data-toggle="tab" href="#sectionB">Các phim sắp chiếu</a></li>
                </ul>
                <div class="tab-content">
                    <div id="sectionA" class="tab-pane fade in active">
                        {% include 'list-movies.html' with movies=current_movies query='c_page' container="#sectionA" %}
                    </div>
                    <div id="sectionB" class="tab-pane fade">
                        {% include 'list-movies.html' with movies=future_movies query='f_page' container="#sectionB" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
