<div id="trailer_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ movie.name }}</h4>
            </div>
            <div class="modal-body flex-video">
                <iframe width="560" height="310" src="{{ movie.trailer }}" frameborder="0" allowfullscreen="off"></iframe>
            </div>
        </div>
    </div>
</div>