<div class="pagination">
    <span class="step-links">
        {% if movies.has_previous %}
            <div>
            <a data-url="?{{ query }}={{ movies.previous_page_number }}" href="javascript:void(0);" class="paginator" data-container="{{ container }}">previous</a>
            </div>
        {% endif %}

        {% if movies.has_next %}
            <div class="pull-right">
                <a data-url="?{{ query }}={{ movies.next_page_number }}" href="javascript:void(0);" class="paginator" data-container="{{ container }}">next</a>
            </div>
        {% endif %}
    </span>
</div>
